<h2>Add A New Band</h2>
<form action="new" method="POST">
	Band Name:</br>
	<input type="text" name="band_name" placeholder="band name" /></br>
	Pic URL:</br>
	<input type="text" name="band_url" placeholder="band pic url" /></br>
		<button>Add Band</button>
</form>


