<h2>Add A New Guitar</h2>
<form action="new" method="POST">
	Image URL:
	<input type="url" name="guitar_url" placeholder="guitar pic url" /></br>
	Year:
	<input type="text" name="year" placeholder="year" /></br>
	Make:
	<input type="text" name="make" placeholder="guitar make" /></br>
	Model:
	<input type="text" name="model" placeholder="guitar model" /></br>
	Finish:
	<input type="text" name="finish" placeholder="guitar finish" /></br>
	<button>Add Guitar</button>
</form>