<h2>Guitarist Index</h2>
<ul>
	<% @guitarists.each do |guitarist| %>
	<li>
		<%= guitarist.name %>
		<img src="<%= guitarist.guitarist_url %>"></img></br>
		<form action="/guitarists/<%= guitarist.id %>/edit" method="PUT">
			<input type="hidden" name="_method" value="UPDATE">
				<button>Edit Guitarist</button>
		</form>
		<form action="/guitarists/<%= guitarist.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
				<button>Delete</button>
		</form>
	</li>
	<% end %>
</ul>
<div style="text-align:center">  
<a href="/guitarists/new">Add Guitarist</a>
</div>
		