<h2>Welcome to Guitarmy<h2>
<p>The premier database for fans to swap info about the equipment 
their favorite musicians are using to record and play live</p>

<!-- build this with a loop on guitarist edit
<form>
	<input type="checkbox" name="guitar_id[]" value="1">  make  model 

	<input type="checkbox" name="guitar_id[]" value="2">

	<input type="checkbox" name="guitar_id[]" value="3">

	<input type="checkbox" name="guitar_id[]" value="">
	<input type="checkbox" name="guitar_id[]" value="...">
	<input type="checkbox" name="guitar_id[]" value="...">

</form> -->