<h2>Log In!</h2>
<form action="/users/login" method="POST">
	Username:
	<input type="text" name="username" placeholder="username" />
	Password:
	<input type="text" name="password" placeholder="password" />
	<button>Log In!</button>
</form>
<small>Need An Account? <a href="/users/register">Create Account</a></small>
<small>Already Have An Account? <a href="/users/login">Log In!</a></small>

<p>   The premier database for fans to swap info about the equipment 
their favorite musicians are using to record and play live!
</p>